@tailwind base;
@tailwind components;
@tailwind utilities;

/* portfolio section */
/* <style jsx>{` */
.group:hover .child:not(:hover) {
  filter: blur(5px);
}
.child:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
/* `}</style> */

/* services */
/* <style jsx>{` */
/* .group:hover .child:not(:hover) {
  filter: blur(5px);
}
.child:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
} */
/* `}</style> */

/* about image  */

/* @keyframes moveDot {
  0%,
  100% {
    top: 10%;
    right: 10%;
  }
  25% {
    top: 10%;
    right: calc(100% - 35px);
  }
  50% {
    top: calc(100% - 30px);
    right: calc(100% - 35px);
  }
  75% {
    top: calc(100% - 30px);
    right: 10%;
  }
}
.animate-dot {
  animation: moveDot 6s linear infinite;
} */

body {
  @apply bg-black font-serif;
  /* Using Tailwind CSS's @apply directive */
}
